.Logo {
  height:90%;
  padding-right:125px;
  margin-top:10px;
  float:right;
  
}

.menuBar {
  background-color: #f5f7fa;
  width: 100%; min-width: 700px;
  height: 160px;
  border:1px solid rgb(219, 219, 219);
  
}

.searchBar{
  float:left;
  margin-top:120px;
  margin-left:40px;
  
}

.contentContainer {
  background-color:#f5f7fa;
  height:700px;
  overflow-y:scroll;
  width:69%;
  float:left;
  margin-top: 10px;
  
  padding-top:10px;
  text-align: center;
  border:1px solid rgb(219, 219, 219);
}

.sideBar {
  background-color:#f5f7fa;
  width:30%;
  height:700px;
  float:right;
  margin-top:10px;
  padding-top:10px;
  text-align: center;
  border:1px solid rgb(219, 219, 219);
}

.wrapper {
  width:100%;
  position:relative;
  display:inline;
}

.shoppingCart {
  width:90%;
  height:500px;
  margin-top:10px;
  margin-left:5%;
  background-color: #f0f0f0;
  border:1px solid rgb(219, 219, 219);
  overflow-y: scroll;
  padding-top:10px;
}

