

.contentContainer {
  background-color:#f5f7fa;
  height:700px;
  overflow-y:scroll;
  width:69%;
  float:left;
  
  padding-top:10px;
  text-align: center;
  border:1px solid rgb(219, 219, 219);
}

.sideBar {
  background-color:#f5f7fa;
  width:30%;
  height:700px;
  float:right;
 
  padding-top:10px;
  text-align: center;
  border:1px solid rgb(219, 219, 219);
}

.wrapper {
  width:100vw;
}

.shoppingCart {
  width:90%;
  height:500px;
  margin-top:10px;
  margin-left:5%;
  background-color: #f0f0f0;
  border:1px solid rgb(219, 219, 219);
  -ms-overflow-style: none;
  scrollbar-width:none;
  overflow-y: scroll;
  padding-top:10px;
}

.ManagerOrderHistoryListContainer {
  width:90%;
  height:500px;
  margin-top:10px;
  margin-left:5%;
  background-color: #f0f0f0;
  border:1px solid rgb(219, 219, 219);
  overflow-y: scroll;
  padding-top:10px;
}

.orderReviewButton {
  margin-top:10px;
}

.elementContainer {
  width:100vw;
}

.OrderHistoryList{
  text-align: left;
  padding-left:2vw;
  margin-top:10px;
}

.OrderHistoryListItems{
  padding-bottom:5px;
}

.orderStatusOnGoing{
  color:rgba(57, 170, 4, 0.973);
}

.orderStatusPlaced{
  color:rgba(255, 0, 0, 0.973);
  text-decoration: underline overline dotted red;
}

.orderStatusDelivered{
  color:rgba(92, 92, 92, 0.973);
}

.orderStatusDone{
  color:rgba(68, 68, 68, 0.973);
  text-decoration:line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: red;
}