.sideBar {
    background-color:#f5f7fa;
    width:30%;
    height:700px;
    float:right;
   
    padding-top:10px;
    text-align: center;
    border:1px solid rgb(219, 219, 219);
  }

.orderPreviewListRestaurantName{
    text-align:left !important;
    padding-left: 15%;
    padding-top:15px;
}
  /* height: 1px border-top, 1px border-bottom, 10px margin, 10px padding + 578px = 600px ~ .cartContainer */
.shoppingCart {
    width:90%;
    height:578px;
    margin-top:10px;
    margin-left:5%;
    background-color: #f0f0f0;
    border:1px solid rgb(219, 219, 219);
    -ms-overflow-style: none;
    scrollbar-width:none;
    overflow-y: scroll;
    padding-top:10px;
  }

.OrderHistoryList{
    text-align: left;
    padding-left:2vw;
    margin-top:10px;
    margin-bottom: 5px;
  }

.OrderHistoryListItems{
    padding-bottom:10px;
  }


  .orderStatusOnGoing{
    color:rgba(57, 170, 4, 0.973);
  }
  
  .orderStatusPlaced{
    color: #1F3D96
  }
  
  .orderStatusDelivered{
    color:rgba(57, 170, 4, 0.973);
  }
  
  .orderStatusDone{
    color:rgba(68, 68, 68, 0.973);
    text-decoration:line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: red;
  }
  
  .orderStatusRDT{
    color:#1F3D96
  }
  

.hrList{
    height:0 !important;
    margin-left:0 !important;
    margin-right:0 !important;
    margin-bottom:0 !important;
    margin-top:10px !important;
  }
  
.hrList2{
    height:0 !important;
    margin-left:0 !important;
    margin-right:2vw !important;
    margin-bottom:0 !important;
    margin-top:10px !important;
  }

  .ManagerOrderHistoryListContainer {
    width:90%;
    height:500px;
    margin-top:10px;
    margin-left:5%;
    background-color: #f0f0f0;
    border:1px solid rgb(219, 219, 219);
    overflow-y: scroll;
    padding-top:10px;
  }

.cartContainer {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width:none;
  height:600px;
  margin-bottom:10px !important;
}

.orderPreviewList{
  text-align:left !important;
  padding-left: 15%;
}

.orderHorizontal{
  margin-left:11% !important;
  margin-right:11% !important;
  margin-top:4px;
  margin-bottom:-4px;
}

.totalPriceHorizontalLine{
  margin-top:30px;
  margin-left:11% !important;
  margin-right:11% !important;
  padding-top:2px;
  background-color: black;
  margin-bottom:-3px;
}

.totalPricePrice{
  text-align:right !important;
  margin-right:-40%;
}

.totalPrice{
  color:red;
}

.totalPriceOfRestaurant{
  text-align:right !important;
  margin-right:15%;
  color:red;
}

.restaurantTotalText{
  color: #4b4b4b !important;
}

.euromark{
  color:black !important;
}

.shoppingCartContentContainer{
  margin-bottom:100px;
}